.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
