header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  background-color: #f75467;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

.nav a.navActive {
  text-decoration: underline;
}
